version: '3.8'
services:
  postgres:
    image: postgres:latest
    container_name: exporess_postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgresdata:/var/lib/postgresql
volumes:
  postgresdata:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data